** ********************************************************************************
**
** Technology:     cr018g_1p6m_typical
** SPICE model:    TSMC CR018G_1P6M_with_MIM_UTM SPICE MODEL
** Doc. number:    TSMC CR018G_1P6M_with_MIM_UTM RC (RCx) TECH. FILES
** Model version:  N/A
** Model date:     2008/06/10
** Generated date: 2008/06/11
**
** ********************************************************************************
process cr018g_1p6m_typical 
deposition 
* step#  type        p/n layer_name      thickness       diel_constant/metal_bias   over_etch 
step 1	 substrate	 field		 0.35		 3.9  
step 1	 substrate	 active		 0.05		 3.9 
step 2	 metal	         poly		 0.2		 -0.01
step 3	 dielectric   p	 ILD		 0.55000		 4.0	 
step 4	 metal	         metal1		 0.53		 0		 -0,0
step 5	 dielectric   p	 IMD1a		 0.64990		 3.7	 
step 6	 dielectric   p	 IMD1b		 0.20000		 4.2	 
step 7	 metal	         metal2		 0.53		 0		 -0,0
step 8	 dielectric   p	 IMD2a		 0.64990		 3.7	 
step 9	 dielectric   p	 IMD2b		 0.20000		 4.2	 
step 10	 metal	         metal3		 0.53		 0		 -0,0
step 11	 dielectric   p	 IMD3a		 0.64990		 3.7	 
step 12	 dielectric   p	 IMD3b		 0.20000		 4.2	 
step 13	 metal	         metal4		 0.53		 0		 -0,0
step 14	 dielectric   p	 IMD4a		 0.64990		 3.7	 
step 15	 dielectric   p	 IMD4b		 0.20000		 4.2	 
step 16	 metal	         metal5		 0.53		 0		 -0,0
step 17	 dielectric   p	 IMD5a_1	 0.01900		 3.7
step 18	 metal	         ctm		 0.19		 0		 -0,0
step 19	 dielectric   p	 IMD5a_2	 0.44100		 3.7
step 20	 dielectric   p	 IMD5b		 0.35000		 4.2	 
step 21	 metal	         metal6		 2.34		 0		 -0,0
step 22	 dielectric   n	 PASS1		 2.50000		 4.2	2.50	2.50	90
step 23	 dielectric   n	 PASS2		 0.15000		 4.2	0.15	0.15	90
step 24	 dielectric   n	 PASS3		 0.60000		 7.9	0.60	0.60	90
step 25	 dielectric  p   air 		 40		 1
enddeposition

metal_variations
*layer#   name    s/w   min      max      increment
layer     poly	   w    0.18	 0.36  	  0.18
layer     poly	   w    0.9	 1.8  	  0.9
layer     poly	   s    0.16	 0.240000  	  0.01
layer     poly	   s    0.25	 0.5  	  0.25
layer     poly	   s    1.25	 2.5  	  1.25
layer     metal1   w    0.23	 0.46	  0.23
layer     metal1   w    1.15	 2.3	  1.15
layer     metal1   s    0.23	 0.46	  0.23
layer     metal1   s    1.15	 2.3	  1.15
layer     metal2   w    0.28	 0.56	  0.28
layer     metal2   w    1.4	 2.8	  1.4
layer     metal2   s    0.28	 0.56	  0.28
layer     metal2   s    1.4	 2.8	  1.4
layer     metal3   w    0.28	 0.56	  0.28
layer     metal3   w    1.4	 2.8	  1.4
layer     metal3   s    0.28	 0.56	  0.28
layer     metal3   s    1.4	 2.8	  1.4
layer     metal4   w    0.28	 0.56	  0.28
layer     metal4   w    1.4	 2.8	  1.4
layer     metal4   s    0.28	 0.56	  0.28
layer     metal4   s    1.4	 2.8	  1.4
layer     metal5   w    0.28	 0.56	  0.28
layer     metal5   w    1.4	 2.8	  1.4
layer     metal5   s    0.28	 0.56	  0.28
layer     metal5   s    1.4	 2.8	  1.4
layer     ctm   w    4.00	 8	  4.00
layer     ctm   w    20	 40	  20
layer     ctm   s    1.20	 2.4	  1.20
layer     ctm   s    6	 12	  6
layer     metal6   w    1.50	 3	  1.50
layer     metal6   w    7.5	 15	  7.5
layer     metal6   s    1.50	 3	  1.50
layer     metal6   s    7.5	 15	  7.5
endmetal_variations

metal_combinations
*layers   layer1  layer2  min    max     increment
layers    poly    metal1  0.0    0.156    0.156
layers    poly    metal1  0.312  0.625    0.312
layers    poly    metal1  1.250  2.500    1.250
layers    poly    metal2  0.0    0.175    0.175
layers    poly    metal2  0.350  0.700    0.350
layers    poly    metal2  1.400  2.800    1.400
layers    metal1    metal2  0.0    0.175    0.175
layers    metal1    metal2  0.350  0.700    0.350
layers    metal1    metal2  1.400  2.800    1.400
layers    metal1    metal3  0.0    0.175    0.175
layers    metal1    metal3  0.350  0.700    0.350
layers    metal1    metal3  1.400  2.800    1.400
layers    metal2    metal3  0.0    0.175    0.175
layers    metal2    metal3  0.350  0.700    0.350
layers    metal2    metal3  1.400  2.800    1.400
layers    metal2    metal4  0.0    0.175    0.175
layers    metal2    metal4  0.350  0.700    0.350
layers    metal2    metal4  1.400  2.800    1.400
layers    metal3    metal4  0.0    0.175    0.175
layers    metal3    metal4  0.350  0.700    0.350
layers    metal3    metal4  1.400  2.800    1.400
layers    metal3    metal5  0.0    0.175    0.175
layers    metal3    metal5  0.350  0.700    0.350
layers    metal3    metal5  1.400  2.800    1.400
layers    metal4    metal5  0.0    0.175    0.175
layers    metal4    metal5  0.350  0.700    0.350
layers    metal4    metal5  1.400  2.800    1.400
layers    metal4    ctm  0.0    0.750    0.750
layers    metal4    ctm  1.500  3.000    1.500
layers    metal4    ctm  6.000  12.000    6.000
layers    metal5    ctm  0.0    0.750    0.750
layers    metal5    ctm  1.500  3.000    1.500
layers    metal5    ctm  6.000  12.000    6.000
layers    metal5    metal6  0.0    0.938    0.938
layers    metal5    metal6  1.875  3.750    1.875
layers    metal5    metal6  7.500  15.000    7.500
layers    ctm    metal6  0.0    0.938    0.938
layers    ctm    metal6  1.875  3.750    1.875
layers    ctm    metal6  7.500  15.000    7.500
endmetal_combinations

endprocess
